:root {
	--player-icon-width: 75px;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-image: url(../img/light.png);
	background-repeat: repeat;
	background-size: 128px;
	image-rendering: pixelated;
}

main {
	width: 90%;
	margin: auto auto;
}

table,
tr,
td {
	border: 1px solid #000;
	border-collapse: collapse;
}

td {
	padding: 1px 2px;
}

#player_list {
	display: grid;
	grid-template-columns: auto auto auto;
	/* gap: 3px; */
	width: 90%;
}

.player-container {
	background-image: url(../img/stripped_oak.png);
	background-repeat: repeat;
	background-size: contain;
}

.player-container div {
	height: 100%;
	width: calc(100% - var(--player-icon-width) - 10px);
	display: flex;
	flex-direction: column;
	position: relative;
	float: left;
	color: white;
}

.player-container a {
	position: absolute;
	bottom: 0;
}

.player-container h3 {
	display: inline;
	margin: 0px;
}

.player-container img {
	padding: 5px;
	float: left;
}

.player-skin {
	width: var(--player-icon-width);
}

@media screen and (min-width: 0px) and (max-width: 1080px) {
	main {
		width: unset;
	}

	#player_list {
		grid-template-columns: auto auto;
		width: unset;
	}
}